.icon{
    wight: 20px;
    height: 20px;
    -webkit-mask-image:-webkit-linear-gradient(top, rgba(52, 122, 183,.4), rgba(52, 122, 183,.4));
    margin:0;
    color: #337ab7
}
#custom-search-input .glyphicon-search{
    font-size: 16px;
}

#page-preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #e9e9e9;
    z-index: 100500;
}

#page-preloader .spinner {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 45%;
    top: 45%;
    margin: -16px 0 0 -16px;
}
.good-result{
    color: green
    front-size:20px
}
.error-result{
    color: red
    front-size:20px
}