<div id="page-preloader" ng-show="loading">
    <span class="spinner"> <h2>Waiting ...</h2></span>
</div>
<div class="container">
    <h2>Testing Calculator</h2>
    <hr>
    <div class="panel panel-default" ng-model = conf>
        <div class="panel-body">
            <h3>Config</h3>
            <input type="file" fileread="config">
        </div>
    </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3>Test Plans</h3>
                        <button type="button" class="btn btn-default" ng-click="ctrl.createTestPlan()">Add</button>
                        <hr>
                        <div id="custom-search-input">
                            <div class="input-group col-md-12">
                                <input type="text" class="form-control" ng-model="search.$" id="testplan-search" placeholder="Search..." />
                                <span class="input-group-btn">
                                    <button class="btn btn-info btn-lg" type="button">
                                        <i class="glyphicon glyphicon-search"></i>
                                    </button>
                                    </span>
                            </div>
                        </div>
                        <div id="testplans-container">
                            <div class="panel panel-success" ng-repeat="tp in testplans | filter:search">
                               <div class="panel-heading panel-hover" ng-click="ctrl.openPanel($event)">
                               <h4 class="col-sm-10">{{tp.name}}</h4>
                                   <div class="col-sm-2" ng-show="tp.tested">
                                       <span class="good-result" ng-if="tp.res.result">
                                           &#10004;
                                       </span>
                                       <span class="error-result" ng-if="!tp.res.result">
                                            &#10008;
                                       </span>
                                       {{tp.res.message}}
                                   </div>
                               </div>
                                <div class="panel-body">
                                    <button type="button" class="btn btn-default" ng-click="ctrl.saveTestPlan(tp)">Save</button>
                                    <button type="button" class="btn btn-default" ng-click="ctrl.deleteTestPlan(tp)">Delete</button>
                                    <button type="button" class="btn btn-default" ng-click="ctrl.runTestPlan(tp)">Run</button>
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <label class="control-label col-sm-2" for="desc">Description:</label>
                                            <div class="col-sm-10">
                                                <input type="text" ng-model="tp.description" class="form-control" id="desc" placeholder="Enter description">
                                            </div>
                                        </div>
                                    </form>
                                    <button type="button" class="btn btn-default" ng-click="ctrl.createTestCase(tp)">Add testcase</button>
                                    <div class="panel panel-default" ng-repeat="tc in tp.tests">
                                        <div class="panel-heading panel-hover" ng-click="ctrl.openPanel($event)">
                                            <h4 class="col-sm-10">{{tc.name}}</h4>
                                            <div class="col-sm-2" ng-show="tc.tested">
                                               <span class="good-result" ng-if="tc.res.result">
                                                    &#10004;
                                               </span>
                                                <span class="error-result" ng-if="!tc.res.result">
                                                    &#10008;
                                                </span>
                                                {{tc.res.message}}
                                            </div>
                                        </div>
                                        <div class="panel-body">
                                            <button type="button" class="btn btn-default" ng-click="ctrl.saveTestCase(tc, tp.name)">Save</button>
                                            <button type="button" class="btn btn-default" ng-click="ctrl.deleteTestCase(tc, tp)">Delete</button>
                                            <button type="button" class="btn btn-default" ng-click="ctrl.runTestCase(tc)">Run</button>
                                            <form class="form-horizontal">
                                                <div class="form-group">
                                                    <label class="control-label col-sm-2" for="desctc">Description:</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" ng-model="tc.description" class="form-control" id="desctc" placeholder="Enter description">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-sm-2" for="inp">Input:</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" ng-model="tc.input" class="form-control" id="inp" placeholder="Enter input">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-sm-2" for="inp">Output:</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" ng-model="tc.output" class="form-control" id="out" placeholder="Enter output">
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                           </div>

                        </div>
                    </div>
    </div>
</div>
